body {
    background-color: rgb(101, 99, 204);
    color: rgb(31, 165, 158);
}

.navbar {
    background-color: #404040;
    padding: 7px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(31, 165, 158);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 2px; 
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}



