<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% load static %}
    {% block content %}

    <h1>{{title}}</h1>
    <h1>Bienvenidos mis queridos amigos</h1>
    <p>Esto es una prueba de Django</p>
    <img src="{% static '1.jpg' %}">
    
    {% endblock %}
</body>
</html>