<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    <h1>ESTAS SON LAS TAREAS MAS GRANDES DEL MUNDO</h1>
    {% for task in tasks%}
    <div>
        <h3>{% if task.done == False%} 😭 {% else %} 😀 {% endif %} {{task.title}}</h3>

        <h4>{{task.description}}</h4>
        <h5>Project: {{task.project.name}}</h5>
        <button>
            Delete
        </button>
        <button>
            ✅ Done
        </button>
    </div>
    {% endfor %}

    {% endblock %}
</body>
</html>